

body {
	background-color:black;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
}

.background {
    background-color: black;
    border-style: solid;
    border-radius: 25px;
    border-color: blue;
    padding: 12px;
    padding-right: 12px;
    margin: auto;
	max-width: 900px;
}

.background2 {
    background-color: red;
    border-style: solid;
    border-radius: 25px;
    border-color: blue;
    padding: 12px;
    padding-right: 12px;
    margin: auto;
	max-width: 900px;
}

.tilt {
	width: 200px;
}

.twist {
	width: 200px;
}

.scale {
	width: 200px;
}

.translate {
	width: 200px;
}

header a{
	color: blue;
}

a {
	text-decoration: none;
	padding: 12px;
	color: white;
	margin: auto;
	font-size: 20px;
}

a:hover{
	color: red;
}

header{
	color: blue;
	text-align: center;
}
footer a{
	color: blue;
}

footer{
	color: blue;
	text-align: center;
}
	

b {
	text-decoration: none;
	padding: 12px;
	color: white;
	margin: auto;
	font-size: 20px
}

.tilt:hover {
    transform: rotate(15deg);
}

.twist:hover {
    transform: skew(30deg, 30deg);
}

.scale:hover {
    transform: scale(2);
}

.translate:hover {
    transform: translate(5em);
}



/* CSS3 Animations************************* */




/* CSS3 Transitions************************* */



/* Local Storage************************* */
#storageBox{
    width: 100px;
    height: 100px;
    background: blue;
}

/* AJAX - JSON************************** */
img {
    width: 60%;
    padding-bottom: 5px;
}

#jsonHeader {
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 32px;
    font-weight: 700;
}

#slideContainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 25%;
    height: 20px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #193bcf;
    cursor: pointer;
}

#jsonDetails {
    padding-bottom: 5px;
}

#jsonStringOutput {
    padding-bottom: 20px;
}
